 
.pagination {
    display: flex;
    text-align: center;
    justify-content: center;
}
  
.pagination li {
    display: inline;
    margin: 0 5px;
    text-align: center;
}
  
  .pagination li a {
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .pagination li.active a {
    background-color: #00a54c;
    color: #fff;
    border: 1px solid #00a54c;
  }
  
  .pagination li a:hover {
    background-color: #00642f;
    color: #fff;
    border: 1px solid #00642f;
  }
  