
.Write {
    padding: 20px;
}

.Write div {
    margin-top: 20px;
    margin-left: 0;
}

#title_txt {
    width: 100%;
    max-width: 800px;
    padding-bottom: 10px;
    border: none;
    font-size: 22px;
    border-bottom: solid 1px #ababab;
    font-weight: bold;
}

#title_txt:focus { outline : none; }

#content_txt {
    padding: 30px 10px 10px 10px;
    width: 100%;
    resize: none;
    border: none;
    height: 500px;
}

#content_txt:focus { outline : none; }

@media (max-width: 768px) {
    #title_txt {
        max-width: 80%;
        font-size: 16px;
    }
    
    #content_txt {
        max-width: 30%;
        max-height:40%;
    }
}

@media (max-width: 480px) {
    #title_txt {
        max-width: 90%;
        font-size: 16px;
    }
    
    #content_txt {
        max-width: 30%;
        max-height:40%;
    }
}

.quill-editor {
    width: 100%;
    max-width: 800px;
    height: 250px;
    margin-bottom: 40px;
}

@media (max-width: 1200px) {
    .quill-editor {
        max-width: 600px;
        height: 200px;
    }
}

@media (max-width: 768px) {
    .quill-editor {
        max-width: 100%;
        height: 150px;
    }
}

@media (max-width: 480px) {
    .quill-editor {
        max-width: 100%;
        height: 100px;
    }
}

.react-quill {
    width: 100%;
    height: 50px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.title{
    font-size : 20px;
    margin-top : 10px;
    margin-bottom:-25px;
}
.info{
    font-size : 12px;
    color : gray;
    line-height:50px;
    border-bottom : 2px solid gray;
}

.mobile-table-container {
    margin-top: 500px;
    width: 360px;
}

.mobile-table-container tr {
    cursor: pointer;
}
.table-container {
    border: none;
    border-collapse: collapse;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
    width: 1000px;
    margin: auto;
}

.table-container tbody td:nth-child(2){
    cursor: pointer;
}

.table-container th, .table-container td {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: none;
    padding: 8px;
    text-align: center;
}

.table-container th:nth-child(2),
.table-container td:nth-child(2) {
    width: 40%;
}

.table-container th {
    background-color: #f4f4f4;
}

.table-container th:hover {
    background-color: #f5f5f5;
}

.mobile-search-controls {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between; 
    padding: 10px;
    box-sizing: border-box;
}

.search-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    max-width:800px;
    margin: auto;
}

.writebutton,
.searchbutton {
    width : 60px;
}
.searchbutton, .sort-container {
    padding: 8px 12px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sort-container::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    pointer-events: none;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-button-container button:not(:last-child) {
    margin-right : -95px;
}

@media screen and (max-width: 480px) {
    .location-button-container button:not(:last-child) {
        margin-right : -25px;
    }
}


.comment-container {
    margin-top: 20px;
  }
  
  .comment {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    position: relative;
  }
  
  .comment .comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
    
  .comment .comment-header .nickname {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .comment .comment-header .date {
    color: #888;
    font-size: 0.9em;
  }
  
  .comment .comment-content {
    margin-bottom: 10px;
    color: #555;
  }
  
  .comment .comment-buttons {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  
  .comment .comment-buttons button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
    
  .comment .comment-buttons .recommend-button {
    background-color: transparent;
    color: red;
    font-weight: bold;
  }
  
  .comment .comment-buttons .recommend-button .icon {
    margin-right: 5px;
  }
  
  
  .comment-update-textarea {
    border : none;
    width : 520px;
    height : 60px;
    margin-right:10px;
    outline: none;
    resize: none;
  }

  .comment-textarea {
    border : none;
    height : 160px;
    margin-right:10px;
    outline: none;
    resize: none;
  }
  .comment-textarea::-webkit-resizer {
    display: none;
  }
  .comment-textarea::placeholder {
    color: #d9d9d9;
  }

  .comment-textarea:hover, .comment-textarea:focus {
    border : none;
    outline : none;
  }

  .adopted-comment-container {
    margin-top: 20px;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #e6ffe6;
  }
  
  .adopted-comment {
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
  }

  .adopted-comment h4 {
    color: #2e7d32;
  }
  
  .adopted-comment p {
    color: #4caf50;
  }
  
  .adopted-comment h6 {
    color: #2e7d32;
  }

  .comment-button{
    background-color: #9b9b9b;
    color: #fff;
    margin-right: 10px;
    font-family: 'Pretendard-Bold';
  }
  .comment-button:hover {
    background-color: #818181;
  }
  
  .adopt-button {
    background-color: #28a745;
    color: #fff;
    font-family: 'Pretendard-Bold';
  }

.greenbutton {
    margin-top: 60px;
    margin-left : 8px;
    padding: 8px 20px;
    background-color: #3B855D;
    width : 144px;
    height : 45px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.greenbutton:hover {
    background-color: #2D6446;
}


.writebutton:hover {
    background-color: #0073e6;
}

.searchbutton:hover {
    background-color: #EEEEEE;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url("../../../fonts/Pretendard-Bold.woff2") format('truetype');
  }
  
.writebutton, .comment-textarea, .comment-update-textarea, .sort-container, .greenbutton, .searchbutton {
    font-family: 'Pretendard-Bold';
}