.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .post {
    border : 0.2px solid #acacac;
    width : 800px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .post h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .post h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .post p {
    font-size: 16px;
    line-height: 1.6;
  }
  
  .info {
    margin-top: 20px;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .commentbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height : 120px;
    border : 0.3px solid #d9d9d9;
    border-radius : 10px;
    margin-top: 10px;
    padding : 10px;
  }

  .commentbox h5 {
    margin : 0;
    margin-right : 10px;
    font-weight: normal;
  }
  .commentinput {
    border : none;
    height : 40px;
    margin-right:10px;
    outline: none;
  }

  .commentinput::placeholder {
    color: #d9d9d9;
  }

  .commentinput:hover, .commentinput:focus {
    border : none;
    outline : none;
  }

  .submitButton {
    align-self: flex-end;
    font-size : 16px;
    font-weight: bold;
    border : none;
    color : #3B855D;
    background-color: white;
    cursor : pointer;
  }

  .deleteButton, .editButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dislikesButton {
    font-size : bold 15px;
    background-color: #3B855D;
    width : 50px;
    height: 50px;
    color : white;
    border : 1px solid #3B855D;
    border-radius: 50px 50px 50px 50px;
    cursor: pointer;
  }

  .deleteButton {
    background-color: #ff5555;
    color: #fff;
  }

  .editButton {
    background-color: #3B855D;
    color: #fff;
    margin-left: 10px;
  }
  
  
  .deleteButton:hover {
    background-color: #ff3333;
  }

  .editButton:hover {
    background-color: #016e69;
  }

  .likesButton:hover {
    color : white;
    background-color: #038b85;
  }
  .post-content {
    font-size: 16px; 
    line-height: 1.6;
    margin-top: 20px;
  }

  @font-face {
    font-family: 'Pretendard-Bold';
    src: url("../../../fonts/Pretendard-Bold.woff2") format('truetype');
  }
  
.deleteButton, .editButton, .commentinput, .submitButton{
    font-family: 'Pretendard-Bold';
}