.upload-button {
    display: flex;
    padding: 55px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 20px;
    border: 1px dashed var(--gray, #7E7E7E);
    background: #FFF;
    color: var(--gray, #7E7E7E);
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.upload-button:hover, .upload-button:active {
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    align-self: stretch; 
    border-radius: 20px; 
    border: 2px dashed var(--primary-hover, #6C8D40);
    background: #FFF;
    color: var(--primary-hover, #6C8D40);
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

