.categories-container {
  margin: 20px;
}

.categories-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.categories-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.category-button {
  display: flex;
  height: 50px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border : none;
  border-radius: 14px;
  background: var(--Btn-Color, #8AAB5F);
  color: #FFF;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.category-button:hover, .category-button.active {
  background-color: #6C8D40;
}

.categories-data-list {
  margin-top: 20px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added shadow */
  border-radius: 8px; /* Added border-radius for a smoother look */
  margin-bottom: 10px;
}

.categories-text{
  color: var(--Text, #313926);
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.data-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.data-item-image img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.data-item-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.data-item-name {
  font-size: 16px;
  font-weight: bold;
}

.data-item-tags {
  font-size: 14px;
  color: #888;
}

@media (min-width: 1200px) {
  .categories-buttons, .categories-data-list {
    width: 700px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .categories-buttons, .categories-data-list {
    width: 600px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .categories-buttons, .categories-data-list {
    width: 500px;
  }
}

@media (max-width: 767px) {
  .categories-buttons, .categories-data-list {
    width: 100%;
  }
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url("../../fonts/Pretendard-Bold.woff2") format('truetype'); }