.request-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.request-list h2 {
  text-align: left;
  color: #333;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tabs button {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: #ccc;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
  border-radius: 5px;
  font-family: 'Pretendard-Bold';
}

.tabs button.active {
  background-color: #388e3c;
}

.list {
  width: 800px;
  border-top: 1px solid #ccc;
}

.lists-item {
  padding: 15px;
  height : 45px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lists-item:hover{
  padding: 15px;
  height : 45px;
  background-color: #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor : pointer;
}

.lists-item-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.changes {
  color: #777;
  font-size: 14px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

.lists-item-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.status {
  font-size: 14px;
  color: #388e3c;
  margin-bottom: 5px;
}

.date {
  font-size: 14px;
  color: #999;
}

.status.approved {
  color: green;
}

.status.pending {
  color: #FFA500; /* orange */
}

.status.rejected {
  color: red;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url("../../fonts/Pretendard-Bold.woff2") format('truetype'); }