.card {
    user-select: none;
    cursor: pointer;
    display: flex;
    width: 328px;
    height: 304px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
    margin : 0 24px;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-content {
    padding: 20px;
    text-align: center;
  }
  
  .card-image {
    flex: 1 0 0;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D9D9D9;
  }

.card-body h3 {
    align-self: stretch;
    color: #424D34;
    text-align: center;
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}