.card-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-scroll {
  display: flex;
}

.card {
  margin: 0 24px; /* 카드 사이 간격 */
}
