.community-title-wrap{
    color: #424242;
    text-align: left;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.community-subtitle-wrap{
    color: #424242;
    text-align: left;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
