.NotDrag{
  user-select: none;
}

.adopted-content {
    display: flex;
    align-items: center;
  }

.adopted {
    background: var(--middle-gray, #C6C6C6);
}

.not-adopted {
    background: var(--Btn-Color, #8AAB5F);
}

.adopted, .not-adopted {
    display: inline-flex;
    padding: 10px 20px;
    margin-right : 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    color: #FFF;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.community-detail-title-wrap{
  user-select: none;
  color: #424242;
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.community-detail-subtitle-wrap{
  user-select: none;
  color: #424242;
  text-align: left;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.writer-info{
  color: #424242;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.likes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 20px;
    position: relative;
  }
  
  .likes-button {
    width: 65px;
    height: 65px;
    cursor: pointer;
    position: relative;
    background-color: #ffffff;
    border : 1px solid;
    border-color: #8AAB5F;
    border-radius: 50px;
    transition: all 0.3s ease;
  }

  .likes-button svg {
    margin-bottom :15px;
  }

  .likes-button svg path {
    fill: #8AAB5F;
    transition: fill 0.3s ease;
  }
  
  .likes-button:hover svg path {
    fill: white;
  }

  .likes-button:hover {
    background-color: #8AAB5F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .likes-number {
    position: absolute;
    top: 50%; /* 숫자를 중앙으로 배치 */
    left: 50%;
    transform: translate(-50%, -50%);
    color: #8AAB5F; /* 기본 색상 */
    font-size: 16px;
    font-weight: bold;
  }
  
  .likes-button:hover .likes-number {
    color: white; /* 호버 시 숫자 색상 변경 */
  }
  
  .list-button {
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border : 1px solid;
    border-radius: 16px;
    background: #C6C6C6;
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .comment-content{
    color: #424242;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .comment-date{
    color: #A5A5A5;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .recommend-number{
    align-self: stretch;
    color: var(--Btn-Color, #8AAB5F);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .adopted-button{
    color: #A5A5A5;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }