.search-container {
    display: flex;
    width: 448px;
    height: 34px;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.searchBy-container {
    cursor: pointer;
    display: flex;
    width: 96px;
    height: 34px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #D9D9D9;
    color: #424242;
    text-align: center;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.searchBy-container:hover {
    background-color: #c6c6c6;
}

.community-search-input{
    width: 240px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--Line, #DCDCDC);
    background: #FFF;
    color: #000;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.communitylist-search-button{
    display: flex;
    width: 96px;
    height: 34px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    cursor: pointer;
    border : 1px solid;
    border-radius: 16px;
    background: var(--Btn-Color, #8AAB5F);
    color: var(--White, #FFF);
    text-align: center;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.communitylist-write-button, disable-communitylist-write-button {
    display: inline-flex;
    height: 34px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 16px;
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.communitylist-write-button {
    cursor: pointer;
    background: var(--gray, #c6c6c6);
}

.disable-communitylist-write-button {
    cursor: not-allowed;
    background: var(--gray, #7E7E7E);
    opacity: 0.6;
}
