.registerbutton:disabled {
    background-color: #808080;
    cursor:not-allowed;
}

.registerbutton:hover {
    background-color: #FF8C00;
  
}

.gray-button {
    width : 220px;
    height : 35px;
    background-color: #a5a5a5;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin : auto;
    display: block;
    transition: background-color 0.3s;
}

.location-green-button {
    background-color: #3B855D;
    width : 220px;
    height : 35px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    margin : auto;
    display: block;
    transition: background-color 0.3s;
}

@media screen and (max-width: 480px) {
    .gray-button {
        width : 150px;
        font-size : 13px;
    }
    .location-green-button {
        width : 150px;
        font-size : 13px;
    }
}
.write-green-button {
    margin-left : 8px;
    padding: 8px 20px;
    background-color: #3B855D;
    width : 104px;
    height : 35px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin : auto;
    display: block;
    transition: background-color 0.3s;
}

.write-green-button:hover {
    background-color: #2D6446;
}
.white-button{
    width : 180px;
    height : 50px;
    font-size: 20px;
    font-weight: bold;
    margin-right : 15px;
    padding: 10px 20px;
    color : #3B855D;
    border-radius: 22px;
    border : 3px solid #3B855D;
    background-color: white;
    cursor: pointer;
}

.white-button:hover{
    color : white;
    background-color: #3B855D;
    border : none;
    box-shadow: 0.3s;
}
.parent-element {
    text-align: right;
}

.nothing-button {
    border : none;
    background-color: white;
    color: #3B855D;
    font-size : 25px;
    cursor: pointer;
}

body {
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items:center;
}

.submitbutton {
    margin-top: 60px;
    margin-left : 8px;
    padding: 8px 20px;
    background-color: #3B855D;
    width : 144px;
    height : 45px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cancelbutton {
    margin-top: 60px;
    margin-left : 8px;
    padding: 8px 20px;
    background-color: #c6c6c6;
    width : 144px;
    height : 45px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cancelbutton:hover {
    background-color: #A5A5A5;
}
.activeBtn {
    background-color : #45a049;
    color : white;
    font-size : 30px;
    width : 500px;
    height : 70px;
    border : none;
}

.unactiveBtn {
    background-color: #000000;
    color : white;
    font-size : 30px;
    width : 500px;
    height : 70px;
    border : none;
}

.direct-write-button{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 18px;
    cursor: pointer;
    color: green;
    margin-bottom: 80px;
}
.disabled-write-button {
    padding: 8px 20px;
    width : 84px;
    height : 35px;
    margin : auto;
    display: block;
    background-color: #6d6d6d;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url("fonts/Pretendard-Bold.woff2") format('truetype');
  }
  
.unactiveBtn, .activeBtn, .white-button, .nothing-button, .location-green-button, .disabled-write-button, .submitbutton, .cancelbutton, .registerbutton, .loginbutton,.region-button, .gray-button, .write-green-button {
    font-family: 'Pretendard-Bold';
}