#container,
#container>div div {
  border: 5px solid red;
  margin: 10px;
}

.container_body {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  margin-top : 90px;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}



.menu-icon {
  cursor: pointer;
  margin-left: auto;
}

.side-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  display: none;
}

@media screen and (max-width: 1024px) {
  .hide {
    visibility: visible;
  }

  .mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 5;
  }

  .side-menu {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 60px;
    background-color: white;
    transition: 0.3s;
    z-index: 500;
    overflow: hidden;
  }

  .side-menu button {
    border: none;
    font-size: 16px;
    background-color: white;
    font-weight: 500;
    position: absolute;
    left: 10px;
  }

  .mobile-side li {
    list-style-type: none;
  }

  .mobile-side {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 20px;
    padding: 0;
    z-index: 5;
  }

  .mobile-side a {
    display: block;
    margin-top: 18px;
    padding-right: 12px;
    text-decoration: none;
    color: black;
  }

  .mobile-side a:hover {
    color: #00a54c;
  }

  .menu-open {
    margin: 10px 8px;
    font-size: 16px;
    cursor: pointer;
  }

  .side-menu-overlay.show {
    display: block;
  }

  .trash-search-container {
    width: 100%;
  }
}

.hamburger-menu {
  padding-right : 30px;
  width : 70%;
  height : 70%
}
.separator {
  color : rgb(196, 196, 196);
 padding-left: 20px;
 padding-right : 20px;
}
/*.trash-search-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  z-index: 1;
  width: 345px;
  border: 1px solid #00a54c;
  border-radius: 25px;
  padding: 10px;
  font-size: 14px;
  height:48px;
  z-index: 1;
  transition: height 0.3s, box-shadow 0.3s;
}
.trash-search-container:hover {
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
  0 2px 4px rgba(0,0,0,0.07), 
  0 4px 8px rgba(0,0,0,0.07), 
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07), 
  0 32px 64px rgba(0,0,0,0.07);
}
.search-active-container {
  top:-30px;
  width : 345px;
  padding:20px 10px;
  height: 190px;
  border-radius:25px;
  transition: height 0.3s, box-shadow 0.3s;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
  0 2px 4px rgba(0,0,0,0.07), 
  0 4px 8px rgba(0,0,0,0.07), 
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07), 
  0 32px 64px rgba(0,0,0,0.07);
}  */
.search-form {
  display: flex;
  flex-grow: 1;
  z-index: 1;
}

.list {
  width : 320px;
  left : 5px;
  border : none;
  padding: 10px;
  border-top: 2px solid rgb(192, 192, 192);
}

.list-item {
  font-size:18px;
  padding-left:5px;
  margin-top : -10px;
  cursor: pointer;
  border : none;
}
.list-item:first-child {
  margin-top : -5px;
}

.list-item:not(:first-child) {
  border-top: none;
}
.list-item:hover {
  background-color: #f2f2f2;
}


.search-img {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  z-index: 1;
}

.search-img:hover {
  opacity: 0.7;
}

.search-button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  margin-left: 8px;
  margin-top: 8px;
  cursor: pointer;
}
.search-icon {
  color: #333;
  font-size: 20px;
}

.upload-container {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  width: 100%;
}

.upload-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}

.uploaded-image {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.hide {
  display : none !important;
}

.position-item {
  text-align: center;
  border: 0.2px solid #c8c8c8;
  cursor: pointer;
  color: black;
}

.position-item.active {
  color: blue;
  font-weight: bold;
  background-color: lightblue;
}


.uploaded-image {
  width: 30%;
  height: auto;
}

.not-click-button{
  color : rgb(183, 252, 119)  
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #CCCCCC;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
  z-index: 6;
}


.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  cursor: pointer;
  z-index: 1;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.green-adations {
  

}

/*background-image:linear-gradient(to bottom, white, rgb(146, 255, 146));*/

@font-face {
  font-family: 'Pretendard-Bold';
  src: url("fonts/Pretendard-Bold.woff2") format('truetype');
}

.search-button, .upload-button {
  font-family: 'Pretendard-Bold';
}