.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .post {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .post h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .post h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .post p {
    font-size: 16px;
    line-height: 1.6;
  }
  
  .info {
    margin-top: 20px;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .deleteButton, .listButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .deleteButton {
    background-color: #ff5555;
    color: #fff;
  }
  
  .listButton {
    background-color: #007bff;
    color: #fff;
    margin-left: 10px;
  }
  
  .deleteButton:hover, .listButton:hover {
    background-color: #ff3333;
  }
  
  .listButton:hover {
    background-color: #0056b3;
  }
  
  .post-content {
    font-size: 16px; 
    line-height: 1.6;
    margin-top: 20px;
  }

  @font-face {
    font-family: 'Pretendard-Bold';
    src: url("../../../fonts/Pretendard-Bold.woff2") format('truetype');
  }
  
.deleteButton, .listButton{
    font-family: 'Pretendard-Bold';
}